{
  "extends": [
    "@react-native",
    "eslint:recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "react-hooks/exhaustive-deps": "off",
        "react-native/no-inline-styles": "off",
        "no-unused-vars": "warn"
      }
    }
  ]
}
